#container{
    border-bottom: 100vw;
    height: 400px;
    background-image: linear-gradient(rgb(31, 26, 26), red);
} 

#athao{
    border-radius: 500px;
    height: 20vh;
    left: 45vw;
    position: relative;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

main{
    text-align: center;
    align-items: center;
}

*{
    box-sizing: border-box;
}

h1{
    color: white;
}

.particulas {
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    margin-left: auto;
    margin-top: 0vw;

    position: absolute;
    animation: animacao 40s infinite;
}

@keyframes animacao {
    0%   { transform: translate(0, 0); height: 0.38vw; width: 0.38vw; } 
    12%  { transform: translate(10px, 10px); height: 0.19vw; width: 0.19vw; } 
    25%  { transform: translate(0, -10px); height: 0.38vw; width: 0.38vw; } 
    50%  { transform: translate(10px, -10px); height: 0.38vw; width: 0.38vw; } 
    75%  { transform: translate(0, 30px); height: 0.22vw; width: 0.22vw; } 
    87%  { transform: translate(10px, 10px); height: 0.17vw; width: 0.17vw; } 
    100% { transform: translate(0, 0); height: 0.38vw; width: 0.38vw; } 
}
